%h1 Challenges

- for category in @categories
  = category.name
  %ul
  - for challenge in category.challenges
    %li= link_to challenge.name, challenge
    
    
%h1 Scoreboard

- for user in @users
  = "#{user.handle} - #{user.points}"