%h1 Challenges

- for category in @categories
  %div.shadowed-box
    %h1
      = category.name
    %br
      %table
        %tr
          %th.rounded-upper-left Name
          %th Description
          %th Points
          %th.rounded-upper-right Solved by
        - for challenge in category.challenges
          - css_class = challenge_solved?(current_user, challenge) ? "solved" : cycle("even", "odd")
          %tr{:class => css_class }
            %td= link_to truncate(challenge.name, :length => 40), challenge
            %td= truncate(challenge.description, :length => 80)
            %td= (challenge_solved?(current_user, challenge) ? "SOLVED!" : challenge.points)
            %td= pluralize(challenge.wins.size, "hacker")